html,body,textarea {
	font-family: monospace;
	font-size: 13px;
	font-style: normal;
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
    border: 0;
}
button,input,select {
	background: #516399;
	border: 1px solid #bbb;
	color: #ffffff;
	font: normal 13px Verdana, Geneva, sans-serif;
	font-style: normal;
	height: 1.8em;
	padding-left: 5px;
}
input[type=file] {
	height: 1.6em;
	width: 18em;
}
input[type=range] {
	width: 3.7em;
}
input::placeholder { 
	color: #ffd595; 
}
textarea:focus {
	outline: none;
}
.checkbox{
	display: none;
}
.checkbox:checked + label{
	background-color: #516399;
    color: #fff;
}
.settingslabel{
	display: inline-block;
	width: 4.5em;
	margin-top: 0.5em;
	padding-left: 1em;
    line-height: 1.95em;
    vertical-align: bottom;
    border: solid 1px;   
}
#icon{
	border: 1px solid;
    margin-top: 0.7em;
    width: 10em;
	height: 6em;
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
.hrefb{
	background: #516399;
	border: 1px solid #bbb;
	color: #ffffff;
	font: normal 13px Verdana, Geneva, sans-serif;
	font-style: normal;
	padding: 2.5px;
}
#container {
    height: 94%;
	min-height: 47em;
	position: relative;
}
#wrap-left {
	float: left;
	height: 47em;
	padding: 2px;
	width: 19em;
	margin-right: 1em;
	margin-left: 2em;
	transition: all 0.3s ease;
}
#wrap-right {
	height: 100%;
	padding: 2px;
}
#monitor {
	border: 1px solid #516399;
	background-color: rgb(235, 235, 228);
	width: 100%;
	height: 23.2em;
	overflow: hidden;
	transition: all 0.3s ease;
}
#monitor:focus {
	outline: 3px solid #516399;
}
#monitor b {
	background-color: #eee;
	color: #516399;
}
#memoryPreview {
	float: left;
	height: 24em;
	text-align: center;
	width: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}
#cpuPreview {
	float: left;
	height: 24em;
	text-align: center;
	width: 0;
	overflow: hidden;
}
#areaMemoryPrewiew {
	font-family: monospace;
	height: 20.8em;
	overflow: hidden;
	resize: none;
	width: 22.8em;
	border: none;
}
#editBlock {
	color: #516399;
	height: 100%;
	padding-left: 2px;
	width: 95%;
}
#edit-table {
	border: none;
	border-spacing: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#viewKeyboard{
	position: absolute;
    left: 27em;
    background-color: rgba(255,255,255,0.7);
    width: 11em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 0.5em;
    display: none;
}
#input {
	border: none;
	resize: none;
	tab-size: 4;
	width: 100%;
    height: 100%;
	vertical-align:top;
	display: block;
	min-height: 20em;
	font-size: 13px; 
	font-family: monospace; 
	line-height: 16px; 
	font-weight: 500; 
	margin: 0px; 
	padding: 0px; 
	white-space: pre; 
	overflow: auto;
	position: relative;
    background-color: rgba(0,0,0,0);
	text-shadow: rgb(255, 255, 255) 0 1px 0;
}
#inputCanvas {
	border:0px; 
	background-color:#fff; 
	margin-top:0px; 
	padding-top:0px;
}
#line-count {
	height: auto;
	min-height: 10em;
	overflow: hidden;
	padding: 0.5em;
	resize: none;
	text-align: right;
	width: 2em;
	background-color: rgb(235, 235, 228);
}
.execLine {
	background-color: #516399;
    color: white;
}
#hint {
	color: #516399;
	height: 1em;
	width: 95%;
}
#hint b {
	color: #90C695;
}
#hint i {
	color: #777;
}
#menu {
	height: 2em;
	margin: auto;
	width: 62em;
}
#ram {
	border: 1px solid #516399;
	color: #516399;
	height: 6em;
	resize: none;
	width: 100%;
	display: none;
}
#soundCheckbox{
	display: inline-block;
    height: 1em;
    margin: 0;
    padding: 0;
}
#debug {
	font-size: 83%;
	height: 22em;
	border: none;
	overflow: hidden;
	resize: none;
	white-space: pre;
	width: 13.6em;
}
#screen {
	float: left;
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
#codePreviev {
	float: left;
	height: 21em;
	width: 13em;
}
#alert, #control {
	border: 1px solid #516399;
	max-height: 8em;
	min-height: 2em;
	overflow: auto;
	width: 100%;
	word-wrap: break-word;
}
#alert > b {
	color: #F11;
}
#alert i {
	color: #333;
}
#consoleInput {
	border: 1px solid #516399;
	display: block;
	padding-bottom: 0.2em;
	padding-top: 0.3em;
	width: 97%;
}
#consoleInput>input {
	height: 1.5em;
	width: 90%;
}
#floatButton{
	position: fixed;
    top: 1px;
    left: 1px;
	border: 3px solid gray;
	display: none;
}
#inputImgHighlite{
	position: absolute;
	color: #fff;
	tab-size: 4;
    width: 100%;
    height: 37.5em;
    font-size: 13px;
    font-family: monospace;
    line-height: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    white-space: pre;
    overflow: auto;
}
.bigButton {
	width: 52px;
	height: 50px;
}
.drop-menu {
	display: inline-block;
	cursor: pointer;
}
.drop-menu:hover {
	border: 1px solid #fff;
	}
.drop-menu:hover .sub-menu {
	opacity: 1;
    visibility: visible;
	}
.sub-menu {
	display: block;
	opacity: 0;
    visibility: hidden;
	position: fixed;
	z-index: 999;
	background: #fff;
	padding: 10px 10px;
	border: 1px solid #516399;
	margin-left: -5.1em;
    margin-top: 1.3em;
	box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
	transition-property: opacity, visibility;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
	}
.sub-menu li {
	list-style-type: none;
	display: block;
	border-bottom: 1px dotted #eaeaea;
	font-size: 19px;
	height: 22px;
	padding: 8px 0;
	}
.sub-menu li:hover {
	border-bottom: 1px dotted #bababa;
	}
.div_wind {
	position: absolute;
	box-shadow: 0 0 0.8em rgba(0,0,0,0.8);
}
.div_drag_wind {
	cursor: move;
	background: #516399;
	color: #FFF;
	line-height: 2em;
}
.div_drag_wind div {
	padding-left: 10px;
	padding-right: 10px;
	height: 2em;
}
.content_wind {
	padding: 5px;
	background: #C0C0C0;
}
#div_wind1 {
	top: 3em;
	left: 3em;
	display: none;
}
#div_wind2 {
	top: 3em;
	left: 13em;
	display: none;
}
#div_wind3 {
	top: 3em;
	left: 23em;
	display: none;
}
#div_wind5 {
	top: 3em;
	left: 43em;
	display: none;
}
#disasm, #debugVariable, #debugSprite, #settings {
	background-color: #eee;
	border: 1px solid #516399;
	color: #516399;
	height: 29.8em;
	overflow: auto;
	padding: 0.5em;
	resize: none;
	width: 21em;
	tab-size: 16;
}
#debugVariable {
	height: 27.7em;
}
#debugSprite {
	height: 27.7em;
	display:none;
}
#disasm:focus {
	outline: 3px solid #516399;
}
.close {
	background-color: #A95151;
	color: #FFF;
	cursor: pointer;
	height: 1.5em;
	position: absolute;
	line-height: 1.5;
	right: 0em;
	margin-top: -2em;
	text-align: center;
	width: 3em;
}
#spriteEditior {
	background-color: #eee;
	border: 1px solid #516399;
	height: 33em;
	overflow: hidden;
	padding: 0.5em;
	resize: none;
	top: 10em;
	width: 24em;
}
#spriteLoad{
	height: 0px;
	overflow: hidden;
	transition: all 0.3s ease;
}
#pixelearea {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
	width: 22em;
	height: 22em;
	float: left;
}
#pixelpanel {
	font-size: 180%;
    text-align: center;
}
#pixelpanel>label{
	border: 1px solid #516399;
	display: block;
    margin-bottom: 0.1em;
}
#pixelpanel>button{
	width: 2em;
	display: block;
    margin-bottom: 0.1em;
	position: relative;
    bottom: -20px;
}
#pixelpanel>input[type="radio"] {
	display: none;
}
#pixelpanel>input[type="radio"]:checked+label { 
	background-color: #516399;
	color: #ffffff;
}
#checkRle,#check1bit{
	position: relative;
    top: 0.5em;
	margin: 0;
}
#checkRleLabel,#check1bitLabel{
	display: inline-block;
    width: 2em;
    font-size: 0.9em;
    position: relative;
    top: 0.5em;
	left: -0.4em;
    width: 1.5em;
}
#spriteArea, #spriteLoadArea {
	color: #516399;
	height: 4.2em;
	margin-top: 0.2em;
	resize: none;
	width: 24em;
}
.header {
	border: 1px solid #516399;
	border-bottom: none;
	display: inline-block;
	margin-right: 9em;
	text-align: center;
	width: 10em;
}
.column {
	float: left;
	width: 3.2em;
}
.thisip,.change {
	background-color: #516399;
	color: #FFF;
}
.S{
	color:#90B629;
}
.C{
	color:#ed7824;
}
.kwrd{
	font-weight:bold;
	color: #0070de;
}
.gly{
	font-weight:bold;
	color: #0070de;
}
.pc0{
	background-color: white;
    background-image: linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black), linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black);
    background-size: 2px 2px;
    background-position: 0 0, 2px 2px;
	color:#000000;
}
.pc1{
	background-color:#EDE3C7;
	color:#EDE3C7;
}
.pc2{
	background-color:#BE3746;
	color:#BE3746;
}
.pc3{
	background-color:#7FB8B5;
	color:#7FB8B5;
}
.pc4{
	background-color:#4A3E4F;
	color:#4A3E4F;
}
.pc5{
	background-color:#6EA76C;
	color:#6EA76C;
}
.pc6{
	background-color:#273F68;
	color:#273F68;
}
.pc7{
	background-color:#DEBB59;
	color:#DEBB59;
}
.pc8{
	background-color:#B48D6C;
	color:#B48D6C;
}
.pc9{
	background-color:#42595A;
	color:#42595A;
}
.pc10{
	background-color:#C0624D;
	color:#C0624D;
}
.pc11{
	background-color:#333333;
	color:#333333;
}
.pc12{
	background-color:#777777;
	color:#777777;
}
.pc13{
	background-color:#8FAB62;
	color:#8FAB62;
}
.pc14{
	background-color:#3ABFD1;
	color:#3ABFD1;
}
.pc15{
	background-color:#bbbbbb;
	color:#bbbbbb;
}
@keyframes colorRotate {
  from {
    color: #EDE3C7;
  }
  10% {
    color: #BE3746;
  }
  50% {
    color: #6EA76C;
  }
  75% {
    color: #DEBB59;
  }
  100% {
    color: #B48D6C;
  }
}
@media screen and (max-width: 60em) {
	#menu {
		height: 5em;
		width: 70%;
	}
	#ram {
		height:2em;
		width:30em;
		margin-right: 5em;
	}
	#container {
		overflow: auto;
	}
	#memoryPreviev {
		float:none;
	}
	#editBlock {
		margin-top:1em;
	}
}
@media all and (display-mode: fullscreen) {
	#screen { 
		height: 100%; 
		top: 50%;
		left: 50%;
		margin-right: -50%;
		position: absolute;
		transform: translate(-50%, -50%);
	}
	@media screen and (orientation: portrait) { 
	  #screen { height: 40em; }
	}
}