html,body,textarea {
	font-family: monospace;
	font-size: 13px;
	font-style: normal;
	height: 100%;
	margin: 0;
	padding: 0;
}
button,input,select {
	background: #516399;
	border: 1px solid #bbb;
	color: #ffffff;
	font: normal 13px Verdana, Geneva, sans-serif;
	font-style: normal;
	height: 1.8em;
	padding-left: 5px;
}
input[type=file] {
	height: 1.6em;
	width: 18em;
}
input[type=range] {
	width: 3.7em;
}
textarea:focus {
	outline: none;
}
#gamelist{
	background: #516399;
	border: 1px solid #bbb;
	color: #ffffff;
	font: normal 13px Verdana, Geneva, sans-serif;
	font-style: normal;
	height: 1.8em;
	padding: 2.5px;
}
#container {
	height: 42.5em;
	overflow: hidden;
	position: relative;
}
#wrap-left {
	float: left;
	height: 41em;
	padding: 2px;
	width: 54em;
}
#wrap-right {
	height: 41em;
	margin-left: 54em;
	padding: 2px;
}
#monitor {
	border: 1px solid #516399;
	background-color: rgb(235, 235, 228);
	width: 53em;
	height: 23.2em;
}
#monitor:focus {
	outline: 3px solid #516399;
}
#monitor b {
	background-color: #eee;
	color: #516399;
}
#memoryPreviev {
	float: left;
	height: 24em;
	text-align: center;
	width: 23em;
}
#areaMemoryPrewiew {
	font-family: monospace;
	height: 20.8em;
	overflow: hidden;
	resize: none;
	width: 22.8em;
	border: none;
}
#editBlock {
	border: 1px solid #516399;
	color: #516399;
	height: 38em;
	overflow: auto;
	padding-left: 2px;
	width: 95%;
}
#edit-table {
	border: none;
	border-spacing: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#input {
	border: none;
	font-family: monospace;
	overflow: hidden;
	resize: none;
	tab-size: 4;
	width: 100%;
}
#line-count {
	height: auto;
	min-height: 10em;
	overflow: hidden;
	padding: 0.5em;
	resize: none;
	text-align: right;
	width: 2em;
	background-color: rgb(235, 235, 228);
}
.execLine {
	background-color: #516399;
    color: white;
}
#hint {
	color: #516399;
	height: 1em;
	width: 95%;
}
#hint b {
	color: #90C695;
}
#hint i {
	color: #777;
}
#menu {
	height: 2em;
	margin: auto;
	width: 62em;
}
#ram {
	border: 1px solid #516399;
	color: #516399;
	height: 15em;
	resize: none;
	width: 53em;
}
#debug {
	font-size: 83%;
	height: 22em;
	border: none;
	overflow: hidden;
	resize: none;
	white-space: pre;
	width: 13.6em;
}
#screen {
	float: left;
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
	height: 100%;
}
#codePreviev {
	float: left;
	height: 21em;
	width: 13em;
}
#alert {
	border: 1px solid #516399;
	max-height: 8em;
	min-height: 2em;
	overflow: auto;
	width: 97%;
	word-wrap: break-word;
}
#alert>b {
	color: #F11;
}
#consoleInput {
	border: 1px solid #516399;
	display: block;
	padding-bottom: 0.2em;
	padding-top: 0.3em;
	width: 97%;
}
#consoleInput>input {
	height: 1.5em;
	width: 90%;
}
.div_wind {
	position: absolute;
	box-shadow: 0 0 0.8em rgba(0,0,0,0.8);
}
.div_drag_wind {
	cursor: move;
	background: #516399;
	color: #FFF;
	line-height: 2em;
}
.div_drag_wind div {
	padding-left: 10px;
	padding-right: 10px;
	height: 2em;
}
.content_wind {
	padding: 5px;
	background: #C0C0C0;
}
#div_wind1 {
	top: 3em;
	left: 3em;
	display: none;
}
#div_wind2 {
	top: 3em;
	left: 13em;
	display: none;
}
#div_wind3 {
	top: 3em;
	left: 23em;
	display: none;
}
#disasm, #debugVariable, #debugSprite {
	background-color: #eee;
	border: 1px solid #516399;
	color: #516399;
	height: 29.8em;
	overflow: auto;
	padding: 0.5em;
	resize: none;
	width: 21em;
	tab-size: 16;
}
#debugVariable {
	height: 27.7em;
}
#debugSprite {
	height: 27.7em;
	display:none;
}
#disasm:focus {
	outline: 3px solid #516399;
}
.close {
	background-color: #A95151;
	color: #FFF;
	cursor: pointer;
	height: 1.5em;
	position: absolute;
	line-height: 1.5;
	right: 0em;
	margin-top: -2em;
	text-align: center;
	width: 3em;
}
#spriteEditior, #tutorial {
	background-color: #eee;
	border: 1px solid #516399;
	height: 33em;
	overflow: hidden;
	padding: 0.5em;
	resize: none;
	top: 10em;
	width: 24em;
}
#pixelearea {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
	width: 22em;
	float: left;
}
#pixelpanel {
	font-size: 180%;
    text-align: center;
}
#pixelpanel>label {
	border: 1px solid #516399;
	display: block;
    margin-bottom: 0.1em;
}
#pixelpanel>input[type="radio"] {
	display: none;
}
#pixelpanel>input[type="radio"]:checked+label { 
	background-color: #516399;
	color: #ffffff;
}
#checkRle,#check1bit{
	position: relative;
    top: 0.5em;
	margin: 0;
}
#checkRleLabel,#check1bitLabel{
	display: inline-block;
    width: 2em;
    font-size: 0.9em;
    position: relative;
    top: 0.5em;
	left: -0.4em;
    width: 1.5em;
}
#spriteArea {
	color: #516399;
	height: 4.2em;
	margin-top: 0.2em;
	resize: none;
	width: 24em;
}
.header {
	border: 1px solid #516399;
	border-bottom: none;
	display: inline-block;
	margin-right: 9em;
	text-align: center;
	width: 10em;
}
.column {
	float: left;
	width: 3.2em;
}
.thisip,.change {
	background-color: #516399;
	color: #FFF;
}
.S{
	color:#90B629;
}
.C{
	color:#ed7824;
}
.kwrd{
	font-weight:bold;
	color: #0070de;
}
.gly{
	font-weight:bold;
	color: #0070de;
}
@media screen and (max-width: 60em) {
	#menu {
		height: 4em;
		width: 70%;
	}
	#ram {
		height:2em;
		width:30em;
		margin-right: 5em;
	}
	#container {
		overflow: auto;
	}
	#wrap-right {
		height: 41em;
		margin-left: 0;
		padding: 2px;
	}
	#wrap-left {
		height: 54em;
	}
	#monitor {
		width:30em;
	}
	#memoryPreviev {
		float:none;
	}
}